// .wrapper {
//     background: url('../../../assets/img/bg.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     display: flex;
//     align-items: center;
// }
// .error-text {
//     font-weight: bold;
//     color: red;
//     margin: 10px;
// }

.wrapper {
    // background: url('../../../assets/img/bg.png');
    // background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.error-text {
    text-align: right;
    font-weight: bold;
    color: red;
}
.btn-success {
    font-size: 16px;
    background-color: #1e2957;
    opacity: 0.8;
    border-color: white;
}
.card-group {
    //margin-top: 20%;
    margin-top: 0%;
}

.app-body {
    //  background: url('../../../assets/img/bg.png');
    // background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.free-msg {
    padding-top: 20px;
}

.custom-height {
    height: calc(100vh - 22px) !important;
}
