.modal-dialog {
  width: fit-content;
  font-family: Gothic A1;
  .modal-content {
    border-radius: 10px;
    .modal-header {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 14px 23px 18px;
      border: none;
      .modal-title {
        font-size: 24px !important;
        font-family: Gothic A1;
        color: #00aaff;
        border: none;
      }
    }
    .modal-body::-webkit-scrollbar {
      width: 6px;
      height: 8px;
      /* width of the entire scrollbar */
    }

    .modal-body::-webkit-scrollbar-track {
      background: #c4c4c4;
      border-radius: 3px;
      /* color of the tracking area */
    }

    .modal-body::-webkit-scrollbar-thumb {
      background-color: #434343;
      /* color of the scroll thumb */
      border-radius: 3px;
      /* roundness of the scroll thumb */
      // border: 2px solid #212125;
      /* creates padding around scroll thumb */
    }
    .modal-body {
      display: flex;
      padding: 0;
      max-height: 600px;
      overflow-y: auto;
      margin: 0 25px;
      .modal-col {
        min-width: 350px;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: flex-start;
      }
      .required > label:after {
        margin-left: 3px;
        content: '*';
        color: red;
      }
      .form-group {
        .Select-control {
          width: 230px;
          height: 38px;
          font-size: 16px;
        }
        .form-control {
          width: 230px;
        }
      }
      .form-group > label {
        font-size: 24px;
      }
    }
    .modal-footer {
      padding: 0px 39px 26px;
      border: none;
      button {
        font-size: 16px;
        font-weight: 600;
        color: white;
        padding: 7px 26px;
      }
    }
  }
}
// @media (min-width: 992px) {
//   .modal-dialog {
//     max-width: none;
//   }
// }
@media (min-width: 576px) {
  .modal-dialog {
    max-width: none;
    margin: 1.75rem auto;
  }
}
