.main-header {
    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
    border-radius: 0px !important;
    height: 77px;
}

.search-container {
    margin: auto;
}

.sub-header {
    position: fixed;
    top: 77px;
    height: 77px;
    width: 100%;
    background-color: #00aaff;
    z-index: 100;
    .sub-title {
        color: white;
        margin: 22px 45px;
    }
}

.active {
    color: white;
    background-color: #00aaff;
    border: none !important;
}

.main {
    margin-left: 200px !important;
}
.desk-sidebar {
    margin-left: -200px;
}
.main-container {
    top: 99px;
    position: relative;
    background-color: #e5e5e5;

    .sidebar {
        position: absolute;
        z-index: 2;
    }
}

.top-nav {
    position: relative;
    left: 100px;
}

.nav-item {
    color: #515253 !important;
}

.nav-item > a {
    padding: 28px 25px 27px 25px;
    font-size: 16px;
}

.dropdown-menu {
    background-color: #0000008e;
    color: rgb(255, 255, 255);
    border: none !important;
    li > a:hover {
        background-color: white;
        color: black;
    }
}

.user-dropdown-menu {
    background-color: #ffffff;
}

.app-body .dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 0%;
    background: #0000008e;
}
.sidebar-custom {
    margin-left: 0px !important;
}

.nav > li {
    cursor: pointer;
}

.nav > li:focus {
    outline: none !important;
}

.admin input[type="text"] {
    padding: 6px;
    min-width: 350px;
    .search-container {
        float: left;
        margin: 0 auto;
        width: 500px;
    }

    input[type="text"] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }
    .search-container button {
        // float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    .search-container button:hover {
        background: #ccc;
    }

    button.navbar-toggler.d-md-down-none.ng-star-inserted {
        display: none !important;
    }

    .custom_header {
        .navbar-toggler {
            background: none !important;
            display: none !important;
        }
    }

    .custom {
        .navbar-toggler-icon {
            background-image: none !important;
        }
    }

    a {
        font-size: 16px;
    }

    @media screen and (max-width: 600px) {
        .search-container {
            float: none;
        }

        .search-container input[type="text"],
        .topnav .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }

        .search-container input[type="text"] {
            border: 1px solid #ccc;
        }
    }

    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.search-container button {
    // float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

button.navbar-toggler.d-md-down-none.ng-star-inserted {
    display: none !important;
}

.navbar-toggler {
    display: none !important;
}

a {
    font-size: 16px;
}

.dropdown-toggle::after {
    border: none;
}

.custommenu {
    left: auto;
    right: 0px;
    margin-right: 10px;
    top: 100%;
    transform: translateY(0px);
    bottom: auto;
    margin-right: 10px;
}

.left-side-bar {
    display: none;
}

.left-navbar .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
}

.cui-breadcrumb {
    padding: 12px 15px;
    margin-bottom: 21px;
    list-style: none;
    background-color: #fafafa;
    border-radius: 4px;
    font-size: 17px;
}

app-footer {
    position: fixed;
}

.main .container-fluid {
    padding: 30px 30px;
    width: 95%;
}

.reduce {
    width: 85% !important;
}

.loading {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0.4);
    z-index: 99999;
    display: flex;
    align-items: center;

    app-loading {
        width: 100%;
    }
}

.hideSidebar {
    margin-left: -200px !important;
}

.mainfull {
    margin-left: 0 !important;
}

@media screen and (max-width: 600px) {
    .search-container {
        float: none;
    }

    .search-container input[type="text"],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .search-container input[type="text"] {
        border: 1px solid #ccc;
    }
}
.response-nav {
    width: 100%;
    height: 100%;
    .nav-item {
        a {
            padding: 15px;
            border-bottom: 1px solid #eee;
        }
    }
}
@media screen and (min-width: 990px) {
    .nav-item.open {
        .nav-dropdown-items {
            // display: none !important;
        }
    }
}
.topnav .search-container button.customerBtn {
    padding: 6px 25px;
}
@media (max-width: 1450px) {
    .customMenu {
        display: none;
    }

    .left-side-bar {
        display: flex;
        margin: 0;
    }
}
@media (max-width: 1024px) {
    .sub-header {
        .sub-title {
            float: left;
        }
        .search-container {
            width: 69%;
            float: left;
            input {
                min-width: 300px;
            }
        }
    }
}
@media (max-width: 992px) {
    .sub-header {
        position: relative;
        top: 77;
    }
    .desk-sidebar {
        margin-left: 0px;
    }
}

@media (max-width: 556px) {
    .app-header .navbar-brand {
        left: 11%;
    }
    .headerSupport {
        i {
            margin-right: 10px !important;
            font-size: 18px !important;
        }
    }
    .cui-bell {
        margin-right: 5px !important;
        font-size: 16px !important;
    }
    .icon-settings {
        margin-right: 5px !important;
        font-size: 16px !important;
    }
    .headerUserInfo {
        span {
            display: none;
        }
        img {
            margin-right: 0 !important;
        }
    }
    .sub-header {
        padding: 10px;
        height: auto;
        .sub-title {
            width: 100%;
            float: left;
            text-align: center;
        }
        .search-container {
            width: 100%;
            float: left;
            input {
                min-width: 89%;
                float: left;
                width: 85%;
                height: 37px;
            }
            .searchButton {
                float: left;
                margin: 0;
            }
        }
    }
}
@media (max-width: 400px) {
    .sub-header {
        .search-container {
            input {
                min-width: 88%;
                width: 88%;
            }
        }
    }
}
@media (max-width: 556px) {
    // .response-nav{
    //   height: 430px;
    //   max-height: 430px;
    //   overflow: scroll!important;
    // }
}
@media (max-width: 320px) {
    // .response-nav{
    //   height: 360px;
    //   max-height: 360px;
    //   overflow: scroll!important;
    // }
}

@media only screen and (min-width: 992px) {
    .app-header.navbar {
        min-height: 77px;
    }
}

@media only screen and (max-width: 992px) {
    .app-header.navbar {
        min-height: none;
    }
}
