@import './variable.scss';
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: #ebebeb;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  overflow-x: hidden;
  margin-top: 77px;
}

.min-h-full {
  min-height: 100%
}
.whitespace-no-wrap {
  white-space: nowrap
}
.p-12 {
  padding: 1.2rem
}
.sm\:p-12 {
  padding: 1.2rem
}
.border-1 {
  border-width: 1px
}
.sm\:border-1 {
  border-width: 1px
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.cursor-pointer {
  cursor: pointer
}
.overflow-hidden {
  overflow: hidden
}
.md\:overflow-hidden {
  overflow: hidden
}
.w-0 {
  width: 0
}
.max-w-0 {
  max-width: 0
}
.flex-shrink-0 {
  flex-shrink: 0
}
.md\:flex-shrink-0 {
  flex-shrink: 0
}
.px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem
}
.sm\:px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem
}
.md\:px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem
}
.lg\:px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem
}