body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: #ebebeb;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  overflow-x: hidden;
  background: #ebebeb;
  margin: 155px 0 0 0 !important;
}

.min-h-full {
  min-height: 100%;
}

.whitespace-no-wrap {
  white-space: nowrap;
}

.p-12 {
  padding: 1.2rem;
}

.sm\:p-12 {
  padding: 1.2rem;
}

.border-1 {
  border-width: 1px;
}

.sm\:border-1 {
  border-width: 1px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.md\:overflow-hidden {
  overflow: hidden;
}

.w-0 {
  width: 0;
}

.max-w-0 {
  max-width: 0;
}

.flex-shrink-0 {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.md\:flex-shrink-0 {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.sm\:px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.md\:px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.lg\:px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.invoice-paper {
  border: 1px solid #ccc;
  border-bottom: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.cell-border-right {
  border-right: 1px solid #ccc;
}

.cursor-default {
  cursor: default;
}

.swipe_wrapper .react-swipeable-view-container > div {
  overflow: hidden !important;
}

.swipe_wrapper .MuiTable-root .MuiTableBody-root tr td {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.swipe_wrapper .MuiTable-root .MuiTableBody-root tr td .MuiFab-primary {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.customer_info_wrapper {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  max-width: 700px;
  padding: 24px 30px;
}

.name_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  /* justify-content: space-between; */
}

.name_wrapper .MuiFab-primary {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  background: #e5e5e5;
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  min-width: none;
  max-width: auto;
  min-height: none;
  max-height: auto;
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.name_wrapper .MuiFab-primary i {
  font-size: 18px;
}

.name_wrapper .MuiFab-primary:hover i {
  color: #ffffff;
}

.customer_details {
  padding-bottom: 30px;
}

[class*="ViewMorePage-dataContainer"] {
  padding-bottom: 57px !important;
}

[class*="ViewMorePage-dataContainer"] > div {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

[class*="ViewMorePage-dataContainer"] > div > .MuiFab-primary {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search_wrapper {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.tab_wrapper .MuiTab-root,
.tab_wrapper .MuiTabs-indicator {
  width: 200px !important;
}

.tab_wrapper .MuiTab-wrapper {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 20px !important;
  text-align: center !important;
  color: #000000 !important;
}

.form_button_wrapper-desktop {
  display: block !important;
}

.form_button_wrapper-mobile {
  display: none !important;
}

.modal_map__wrapper {
  height: 100%;
}

@media (max-width: 1280px) {
  .form_button_wrapper-desktop {
    display: none !important;
  }
  .form_button_wrapper-mobile {
    display: block !important;
  }
  .modal_map__wrapper {
    position: relative;
    padding-top: 52.6%;
  }
  .modal_map__wrapper > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .map_modal__wrapper .MuiGrid-container > div:nth-child(2) {
    padding: 0 !important;
  }
  .map_modal__wrapper .MuiGrid-container > div:nth-child(2) .MuiGrid-container {
    padding-bottom: 15px;
  }
}

@media (max-width: 1050px) {
  .info_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .customer_info_wrapper {
    max-width: 100%;
  }
  .MuiFab-primary {
    margin-bottom: 30px !important;
  }
  #navbar-container {
    width: auto !important;
  }
  #navbar-container > div {
    width: auto !important;
    margin-top: 5px;
  }
}
/*# sourceMappingURL=index.css.map */
