@import "./variable.scss";
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: #ebebeb;
}

.main-container {
  display: flex;
  // flex-direction: column;
  flex: 1 1 100%;
  overflow-x: hidden;
  // margin-top: 77px;
  background: #ebebeb;
  margin: 155px 0 0 0 !important;
}

.min-h-full {
  min-height: 100%;
}
.whitespace-no-wrap {
  white-space: nowrap;
}
.p-12 {
  padding: 1.2rem;
}
.sm\:p-12 {
  padding: 1.2rem;
}
.border-1 {
  border-width: 1px;
}
.sm\:border-1 {
  border-width: 1px;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cursor-pointer {
  cursor: pointer;
}
.overflow-hidden {
  overflow: hidden;
}
.md\:overflow-hidden {
  overflow: hidden;
}
.w-0 {
  width: 0;
}
.max-w-0 {
  max-width: 0;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.md\:flex-shrink-0 {
  flex-shrink: 0;
}
.px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.sm\:px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.md\:px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.lg\:px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.invoice-paper {
  border: 1px solid #ccc;
  border-bottom: none;
  box-shadow: none !important;
}
.cell-border-right {
  border-right: 1px solid #ccc;
}
.cursor-default {
  cursor: default;
}
.serviceTicketTitle {
  color: $primary-blue !important;
  text-align: center;
}

.serviceTicketLabel {
  font-weight: bold !important;
}
.serviceTicketBtn {
  color: black !important;
  box-shadow: none !important;
  background: none !important;
  &:active {
    box-shadow: none !important;
    background: none !important;
  }
}
