@import './variable.scss';
body {
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.h1-typography {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.h2-typography {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}

.h3-typography {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.h4-typography {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.main-container {
  display: flex;
  flex: 1 1 100%;
  overflow-x: hidden;
  margin-top: 77px;
  background: #ebebeb;
}
