.modal_heading {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #979797;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.modal_heading > * {
  flex: 1;
}

.modal_heading + div {
  h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-bottom: 10px;
    margin-bottom: 0;
    height: 25px;
  }
  .MuiInputBase-root {
    height: 38px !important;
    margin-bottom: 10px !important;
    margin-top: -7px;
    &.MuiInputBase-multiline {
      height: 110px !important;
    }
    > div {
      padding-top: 8.5px !important;
      padding-bottom: 8.5px !important;
    }
  }
  .MuiFormControl-root {
    margin-bottom: 0 !important;
  }
}

.MuiPaper-root {
  .MuiDialogTitle-root {
    padding: 15px 15px 8px;
    h6 {
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 35px;
      color: #00aaff;
    }
  }
  .MuiDialogContent-root {
    overflow: initial;
  }
  .MuiDialogActions-root {
    .MuiButtonBase-root {
      background-color: transparent;
      box-shadow: none;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
    }
    .MuiFab-secondary {
      color: #000000;
    }

    .MuiFab-primary {
      background: #219653;
      border-radius: 30px;
      width: 195px;
    }
  }
}
#dueDate {
  text-align: right;
}
