$primary-blue: #00aaff;
$primary-dark: #fff;
$primary-red: #c00707;
$primary-grey: #e5e5e5;
$secondary-grey: #c4c4c4;
$primary-dark-grey: rgba(0, 0, 0, 0.5);
$primary-dark: #000;

$sidebar-width: 233px;
