.marker_dropdown {
  background-color: #fff;
  padding: 15px 25px;
  height: auto;
  left: -36px;
  top: 50px;
  position: relative;
  border-radius: 10px;
  &::after {
    content: "";
    position: absolute;
    top: -12px;
    left: 34px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #c4c4c4;
  }
  &::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 36px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 11px solid #ffffff;
    border-top-left-radius: 5px;
    z-index: 1;
  }
  .date-container {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    color: #828282;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
  }

  strong {
    font-size: 10px;
    color: #828282;
  }

  .date {
    font-weight: 400;
  }

  .action-container {
    display: flex;
    justify-content: flex-end;
  }

  .no-padding {
    padding: 0;
  }

  .title-container {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #4F4F4F;
    margin-bottom: 10px;
    span {
      display: flex;
      align-items: center;
      padding-left: 10px;
    }
  }

  .company {
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #4F4F4F;
  }

  .note {
    display: block;
    font-size: 10px;
    margin-bottom: 10px;
    color: #828282;
  }

  .info-button {
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
  }

  .button-wrapper {
    text-align: center;
    button {
      background: #00aaff;
      border: 2px solid #00aaff;
      border-radius: 5px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;
      text-transform: none;
    }
  }

  .button-wrapper-ticket {
    display: flex;
    div {
      flex: 1;
      text-align: center;
    }
    button {
      background: #00aaff;
      border: 2px solid #00aaff;
      border-radius: 5px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #ffffff;
      text-transform: none;
    }
    button:disabled {
      background-color: rgb(208, 211, 220);
      border: 2px solid rgb(208, 211, 220);
      color: white;
    }
  }
}

.gm-style > div {
  // position: absolute;
  left: -50px !important;
  top: -60px !important;
  border: 0 !important;
}


.filteredJob  {
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    border: 2px solid red;
    width: 50px;
    height: 51px;
    border-radius: 9px;
  }
}